.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@media only screen and (min-width: 1528px) {
  .head-side-main {
      grid-template-columns: 18px 54px 72px 36px 1fr 36px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 1fr;
  }
}

/* @media only screen and (max-width: 1528px) {
  .head-side-main {
      grid-template-columns: 18px 54px 72px 36px 1fr 36px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 54px 1fr;
  }
} */

@media only screen and (max-width: 1528px) {
  .head-side-main {
      grid-template-columns: 18px 54px 72px 36px 1fr 0px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 1fr 1fr 1fr 1fr 36px 36px 18px 18px;
  }
  .a_item_aa {
    grid-template-columns: 9px 1fr 36px 54px 18px 18px 9px;
  }
  .b_item_ab {
    grid-template-columns: 9px 1fr 36px 54px 18px 18px 9px;
  }
  .c_item_ac {
    grid-template-columns: 9px 1fr 36px 54px 18px 18px 9px;
  }
  .d_item_ad {
    grid-template-columns: 9px 1fr 36px 54px 18px 18px 9px;
  }
  .item_z {
    grid-template-columns: 9px 1fr 27px 9px 18px 18px 9px 27px 54px 9px;
  }
} 

@media only screen and (max-width: 600px) {
  .box {
    display: none;
  }
  .side {        
      display: none; 
  }
  .make {
    display: none;
  }
  .head {
    display: flex;
  }
  .header {
    width: 100%;
  }
  .navGraphic {
    width: 100%;
  }
  .links {
    display: absolute;
    justify-content: center;
  }
  .head-side-main {
    grid-template-columns: 0px 0px 0px 0px 1fr 0px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 18px 1fr;
    grid-template-rows: 36px 36px 36px .5fr 9px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 1fr 1fr 1fr 1fr 36px 36px 18px 18px;
  }
  .scenario_and_options {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    display: grid;
    grid-template-columns: 14fr 18px 14fr 18px 14fr 18px 14fr;
    grid-template-rows: 9fr 18px 9fr 18px 9fr;
  }

  .options_a {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .options_b {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .options_c {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 6;
  }

  .options_d {
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 6;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
