.head-side-main {
    /* background-image: url(../../assets/Locator_Grid.png);
    background-repeat: repeat-y repeat-x; */
    background-color: whitesmoke;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 18px 54px 72px 36px 1fr 36px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 72px 1fr;
    grid-template-rows: 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 36px 1fr 1fr 1fr 1fr 36px 36px 18px 18px;
}

.head {
    /* background-color: slategray; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 26;
    grid-row-start: 1;
    grid-row-end: 5;
}

.side {
    background-color: white;
    border: 2px solid aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 25;
    border-radius: 18px;
}

.main_view {
    /* background-color: slategray; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 7;
    grid-column-end: 25;
    grid-row-start: 6;
    grid-row-end: 26;
}

.main_play {
    background-color: darkgray;
    grid-column-start: 6;
    grid-column-end: 25;
    grid-row-start: 6;
    grid-row-end: 25;
    width: 100%;
    height: 100%;
}

.main_play_two {
    /* background-color: green; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 18px 29fr 30fr 18px 16fr 18px;
    grid-template-rows: 18px 4fr 18px 30fr 18px;
}

.title_and_name {
    background-color: yellow;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

.main_build {
    /* background-color: darkgray; */
    /* width: 100%;
    height: 100%; */
    grid-column-start: 6;
    grid-column-end: 25;
    grid-row-start: 6;
    grid-row-end: 25;
    display: grid;
    grid-template-columns: 18px 63fr 18px 14fr 18px;
    grid-template-rows: 8fr 18px 28fr;
}